# Be sure to update the .npmignore if you update this file.
# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.vscode

# due to using tox
.tox
.cache
devenv

# app specific
node_modules/
package-lock.json
schemas/build

generator/*.js
templates/facade.js
*.map
