# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.vscode

# due to using tox
.tox
.cache
devenv

# app specific
node_modules/
api/facades/*.js
package-lock.json

# js specific
.nyc_output/
