# Be sure to update the .gitignore if you update this file.
# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.vscode
generator/
schemas/
tox.ini
setup.py
MANIFEST.in
.travis.yml
.eslint*
tests/*.py

# due to using tox
.tox
.cache
devenv

# app specific
node_modules/
package-lock.json

# js specific
.nyc_output/
